<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Pay</h2>
    </div>
    <div class="row mt-2">


    <div class="col-md-6">
      <div class="row">
        <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p class="mt-3">To People</p></div>
        <div class="col-3"><i class="bi bi-receipt-cutoff icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Bills</p></div>
        <div class="col-3"><i class="bi bi-qr-code-scan icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Scan</p></div>
        <div class="col-3"><i class="bi bi-mortarboard icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Fee</p></div>
      </div>


    </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3"><i class="bi bi-gift icon-with-bg"></i><p class="mt-3">&nbsp;Redeem</p></div>
          <div class="col-3"><i class="bi bi-airplane icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Flight</p></div>
          <div class="col-3"><i class="bi bi-dash-square icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Coupon</p></div>
          <div class="col-3"><i class="bi bi-box2-heart icon-with-bg"></i><p class="mt-3">&nbsp;&nbsp;&nbsp;Donate</p></div>

        </div>
    </div>
    </div>
  </div>
</div>
