<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Pay</h2>
    </div>
    <div class="row">


    <div class="col-md-6">
      <div class="row">
        <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>To People</p></div>
        <div class="col-3"><i class="bi bi-receipt-cutoff icon-with-bg"></i><p>Bills</p></div>
        <div class="col-3"><i class="bi bi-qr-code-scan icon-with-bg"></i><p>Scan</p></div>
        <div class="col-3"><i class="bi bi-mortarboard icon-with-bg"></i><p>Fee</p></div>
      </div>


    </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3"><i class="bi bi-gift icon-with-bg"></i><p>Redeem</p></div>
          <div class="col-3"><i class="bi bi-airplane icon-with-bg"></i><p>Flight</p></div>
          <div class="col-3"><i class="bi bi-dash-square icon-with-bg"></i><p>Coupon</p></div>
          <div class="col-3"><i class="bi bi-box2-heart icon-with-bg"></i><p>Donate</p></div>

        </div>
    </div>
    </div>
  </div>
</div>
