<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Offers</h2>
    </div>
    <div class="row">


      <div class="col-md-6">
        <div class="row">
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Flipkart</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Amazon</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Watches</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Cable</p></div>
      </div>


      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Invest</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Recharge</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Courses</p></div>
          <div class="col-3"><i class="bi bi-person-up icon-with-bg"></i><p>Netflix</p></div>

        </div>
      </div>
    </div>
  </div>
</div>
